{% extends 'layouts/base.html' %}
{% load static %}
{% block sidebar_class %}
sidebar sidebar-style-2
{% endblock sidebar_class %}
{% block content %}
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<style>
    .legend {
        background: white;
        line-height: 1.5;
        padding: 6px 8px;
        font: 14px Arial, Helvetica, sans-serif;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
    }

    .legend i {
        width: 18px;
        height: 18px;
        float: left;
        margin-right: 8px;
        opacity: 0.7;
    }

    .legend .label {
        line-height: 18px;
        margin-bottom: 2px;
        clear: both;
    }
</style>
<script>
    function toggleForm() {
        var checkbox = document.getElementById("checkbox");
        var form = document.getElementById("conditional-form");

        // Si la case est cochée, afficher le formulaire, sinon le cacher
        if (checkbox.checked) {
            form.style.display = "block";
        } else {
            form.style.display = "none";
        }
    }
</script>

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-transparent">
                <!--	<div class="card-header">
						<h4 class="card-title text-center">
							Allez prevenir les foret ..
						</h4>
					</div>-->
                <div class="card-body">


                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-title">Prédictions des feux de forêts</div>
                                </div>
                                <div class="card-body">
                                    <h4>Période de Prédiction </h4>
                                    <div class="row">
                                        
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="startDate">Date debut</label>
                                                <input type="date" class="form-control" id="startDate" name="startDate"
                                                    style="color: white;">
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="endDate">Date fin</label>
                                                <input type="date" class="form-control" id="endDate" name="endDate"
                                                    style="color: white;">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="largeSelect">Large Select</label>
                                        <select class="form-control form-control-lg" id="largeSelect">
                                            <option>Region 1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </div>
                                    <div class="container mt-5">
                                        <div class="form-check form-check-reverse">
                                            <input class="form-check-input" type="checkbox" id="checkbox" onchange="toggleForm()">
                                            <label class="form-check-label" for="checkbox">
                                                Mode Hors Connexion
                                            </label>
                                        </div>
                                    </div>
                                    <div class="container text-center">
                                        <div class="row"  id="conditional-form" style="display:none;">
                                          <div class="col">
                                            <div class="col-md-6 d-flex justify-content-center align-items-center">

                                                <div class="form-group" >
                                                    <label for="exampleFormControlFile1">Importer les données de végétation</label>
                                                    <input type="file" class="form-control-file" id="exampleFormControlFile1"
                                                        name="exampleFormControlFile1">
                                                </div>
                                            </div>
                                          </div>
                                          <div class="col">
                                            <div class="col-md-6 d-flex justify-content-center align-items-center">

                                                <div class="form-group" >
                                                    <label for="exampleFormControlFile1">Importer les données de climatique</label>
                                                    <input type="file" class="form-control-file" id="exampleFormControlFile1"
                                                        name="exampleFormControlFile1">
                                                </div>
                                            </div>
                                          </div>
                                          <div class="col">
                                            <div class="col-md-6 d-flex justify-content-center align-items-center">

                                                <div class="form-group" >
                                                    <label for="exampleFormControlFile1">Importer les données sur les régions</label>
                                                    <input type="file" class="form-control-file" id="exampleFormControlFile1"
                                                        name="exampleFormControlFile1">
                                                </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>

                                    <div class="row">
                                        <div class="col">

                                        </div>
                                        <div class="col">
                                            <div class="col-md-6 d-flex justify-content-center align-items-center">

                                                <button class="btn btn-success mx-2" type="submit">Predict</button>
                                                <button class="btn btn-danger mx-2">Cancel</button>
                                            </div>
                                        </div>
                                        <div class="col">

                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </form>


                    <!-- Vos champs de formulaire ici -->
                </div>




                <div class="col-md-12 ml-auto mr-auto">
                    <div class="mapcontainer">
                        <div id="map" class="vmap" style="height: 650px ; width: 400; !important"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock content %}
{% block extrajs %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/wellknown@0.7.4/dist/wellknown.min.js"></script>
<!-- Importer Leaflet -->
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
<script>
    var map = L.map('map').setView([36.750890, 5.056733], 13);
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    var geometryData = {{ prediction_data | safe }}
    console.log("_________________________________________________");
    console.log(geometryData);

    // Fonction pour déterminer la couleur en fonction du pourcentage de risque
    function getColor(risk) {
        return risk > 56.67 ? '#CD0402' : // rouge foncé
            risk > 33.21 ? '#FF6138' : // rouge clair
                risk > 16.68 ? '#FF8C00' : // orange
                    risk > 5.3 ? '#FFD34E' : // bleu clair
                        '#ACF0F2';  // bleu foncé
    }
    if (geometryData) {
        // Fonction de style pour chaque feature
        function style(feature) {
            return {
                fillColor: getColor(feature.properties.risque),
                fillOpacity: 0.05,
                color: 'black',
                weight: 0.5,
            };
        }

        // Afficher les données GeoJSON sur la carte
        L.geoJSON(geometryData, {
            onEachFeature: function (feature, layer) {
                layer.bindPopup(`<b>Name: </b>` + feature.properties.name + `<br><b>Risque: </b>` + feature.properties.risque + `%`);
            },
            style: style
        }).addTo(map);
    }

    var legend = L.control({ position: 'bottomright' });

    legend.onAdd = function (map) {
        var div = L.DomUtil.create('div', 'legend');
        var grades = [0, 5.3, 16.68, 33.21, 56.67];
        var labels = ['0-20%', '21-40%', '41-60%', '61-80%', '> 80%'];

        div.innerHTML += '<b>Le risque:</b><br>';

        // Boucler à travers les intervalles de légende pour générer une étiquette avec une couleur carrée pour chaque intervalle
        for (var i = 0; i < grades.length; i++) {
            div.innerHTML +=
                '<div class="label"><i style="background:' + getColor(grades[i] + 1) + '"></i> ' +
                labels[i] + '</div>';
        }

        return div;
    };

    // Ajouter la légende à la carte
    legend.addTo(map);
    /*
    var map = L.map('map').setView([36.750890, 5.056733], 13);
    L.tileLayer('https://{s}.tile-cyclosm.openstreetmap.fr/cyclosm/{z}/{x}/{y}.png', {
        maxZoom: 20,
        attribution: '<a href="https://github.com/cyclosm/cyclosm-cartocss-style/releases" title="CyclOSM - Open Bicycle render">CyclOSM</a> | Map data: &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    // Charger le fichier JSON contenant les données
    // Charger le fichier JSON contenant les données
    /*
var geometryData = "{{reponse|safe}}";

var geometry_object = geometryData['0'][0]['geometry']
console.log(geometryData)
console.log(geometry_object)

$(document).ready(function() {
            $.ajax({
                url: 'donnees.geojson',
                dataType: 'json',
                success: function(data) {
                    console.log("GeoJSON Data: ", data);

var polygonData = L.geoJSON(polygone, {
    onEachFeature: function (feature, layer) {
        layer.bindPopup(`<b>Name: </b>` + feature.properties.name)
    },
    style: {
                fillColor: 'red',
                fillOpacity: 0.5,
                color: 'black',
                weight: 2,
    }
}).addTo(map);

console.log(polygonData.toGeoJSON())
*//*
                    var geometryData = {{ prediction_data | safe  }}
                    console.log("_________________________________________________")
                    console.log(geometryData)
                    
                            // Afficher les données GeoJSON sur la carte
                            L.geoJSON(geometryData, {
                                onEachFeature: function (feature, layer) {
                                    layer.bindPopup(`<b>Name: </b>` + feature.properties.name);
                                },
                                style: {
                                    fillColor: 'red',
                                    fillOpacity: 0.2,
                                    color: 'black',
                                    weight: 2,
                                }
                            }).addTo(map);
                    
                    /*data=[]
                    const apiUrl = "https://pfedouwaf.rmrdevdz.com/geo";
                        fetch(apiUrl)
                            .then((response) => {
                                if (!response.ok) {
                                    throw new Error("Problem");
                                }
                                return response.json();
                            })
                            .then((data) => {
                    
                                var 
                                geometryData = data;
                    
                                var geometry_object = geometryData["0"];
                                // console.log(GeometryObject:${geometry_object});
                                geometry_object.forEach(element => {
                                    var polygonData = L.geoJSON(geometry_object, {
                                    onEachFeature: function (feature, layer) {
                                    },
                                    style: {
                                        fillColor: "red",
                                        fillOpacity: 0.1,
                                        color: "black",
                                        weight: 2,
                                    },
                                }).addTo(map);
                                });
                                ;
                            })
                            .catch((error) => {
                                console.error("Error:", error);
                            });
                            */
</script>
{% endblock extrajs %}